<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
   https://www.springframework.org/schema/beans/spring-beans.xsd">
   
   <!-- 모든 서블릿들이 공통적으로 사용할 객체를 등록한xml파일(2) 마이바티스 관련 설정파일 -->
   
   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
   
      <!-- context-jdbc.xml파일의 DB관련정보를 속성으로 가진 bean객체를 등록 -->
      <property name="dataSource" ref="dataSource"/>
      
      <!-- 매퍼의 위치를 알려주는것으로, 매퍼 account.xml과 member.xml을 이렇게 등록해둔 패키지 하위에 생성하면 된다 -->
      <property name="mapperLocations">
         <list><value>classpath*:com/kosta/api/sql/*.xml</value></list>
      </property>
      <property name="typeAliasesPackage">
      	<value>com.kosta.api.dto</value>
      </property>
   </bean>
   
   <!-- 최종적으로 가져다 쓰게 되는 SqlSessionTemplate 객체 -->
   <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
      <constructor-arg index="0" ref="sqlSessionFactory"/>
   </bean>
   
</beans>